---
import styles from './styles.module.css';
import AppLayout from '../layouts/app-layout.astro';
import Content from '../components/content/index.astro';
import SectionCard from '../components/product-card/index.astro';

const API_HOST = import.meta.env.API_HOST;
const response = await fetch(`${API_HOST}/api/products`);
const data = await response.json(); // Await the JSON parsing
const products = data.products;
console.log(products);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Isaju</title>
  </head>
  <body>
    <AppLayout>
      <div class={styles.title}>
        <h1 class={styles.desc}>Fabrica de peluches hechos con amor</h1>
        <h1 class={styles.store}>Tienda</h1>
        <h2 class={styles.storeDesc}>
          Aquí es donde puedes ver los productos en esta tienda.
        </h2>
      </div>
      <Content>
        <div class={styles.content}>
          {
            Array.isArray(products) &&
              products.map((product: any) => (
                <SectionCard
                  images={product.images}
                  name={product.name}
                  price={product.price}
                  id={product.id}
                />
              ))
          }
        </div>
      </Content>
    </AppLayout>
  </body>
</html>
